<div class="jk">


<div class="row mt-5">
        <div class="col-sm-8 offset-sm-2">

            <div class="card text-blank border-0 bg-yv">
                
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Movies" [(ngModel)]="query" name="query">
                </div>
                <button class="btn btn-md btn-info" type="button" (click)="searchMovie(query)">Search</button>
                
                <div class="card-body" *ngIf="movies">
                    <div class="card-title">
                        <h2>List Of Movies</h2>
                    </div>
                    <div class="card-text">
                        <div class="row" *ngFor="let m of results">
                            <div class="col-sm-4" *ngIf="m['poster_path']">
                                <img [src]="'http://image.tmdb.org/t/p/w185//' + m['poster_path']" alt="avatar" width="256" height="256">
                            </div>
                            <div class="col-sm-8" *ngIf="m['poster_path']">
                                <h4>{{m["title"]}} - {{m["release_date"]}}</h4>
                                <p>{{m["overview"]}}</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</div>