.card{
    background-color: #15141d;

}

.card-body{
    color: white;
}

.card-text{
    color: white;
}

/* .jk{
    margin-left: 5px;
    height: 100%;
    width: 50%;
    overflow-y: scroll;
} */