.opac{
    background-color: transparent;
}

.navcolor{
    background-color: #4d455f;
    color: white;
}

.kl a{
    color: white;
}

.dropdown-menu{
    background-color: #4d455f;
}

.dropdown-item:hover{
    background-color: #6f5e96 !important;
}

.nav-link:hover{
    background-color: #6f5e96 !important;
}