

.navcolor{
    background-color: #15141d;
    color: white;
}

.kl a{
    color: white;
}

.dropdown-menu{
    background-color: #15141d;
}

.dropdown-item:hover{
    background-color: #15141d !important;
}

.nav-link:hover{
    background-color: #15141d !important;
}

.navbar-toggler-icon{
    color: white;
}
.navbar-toggler{
    color: white;
}