<div class="row mt-5 bn">
    <div class="col-sm-8 offset-sm-2">
        <div class="card text-blank border-0 bg-yv">
            <div class="card-body c-yv">
                <div class="card-title">
                    <h2>List Of Movies</h2>
                </div>
                <div class="card-text">
                    <ul class="list-group">
                        <li class="list-item">
                            Avengers EndGame
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>