.bn{
    margin: 0;
    padding: 0;
    width: 100%;
}

.back-container{
    display: flex;
    width: 100%;
    padding: 10px 10px;
    background-color: black;
    height: 540px;

}

.row{
    margin: 0!important;
}

.card-body{
    padding: 0!important;
}
.background-left{
    
    /* background-image: url('https://raw.githubusercontent.com/samarthagarwal/Scribe/M06_L06_E01_Home_Component/src/assets/Sign-Up-BG-Image.png'); */
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    /* background-position:left bottom; */
    width: 100%;
    height: 85%;
}

.slider-frame{
    overflow: hidden;
    height: 100%;
    width: 100%;
}


.cool{
    animation: type 2s steps(31) infinite;
    overflow: hidden;
    white-space: nowrap;
    visibility: hidden;
}
.cool:nth-child{
    animation-delay: 1s;
}

.features{
    display: flex;
    height: 300px;
    width: 100%;
    background-color: black;
    padding: 40px 10px;
}

.subfeature{
    width: 33%;
    text-align: center;

}

.content{
    color: white;
    padding: 20px 10px;
}

@keyframes type{
    0%{
        visibility: visible;
        width: 0ch;
    }
    100%{
        visibility: visible;
        width: 28ch; 
    }
}
.background-right{
    width: 100%;
}

.card{
    background-color: transparent;
    color: #fff; 
}

.text-muted{
    color: #fff !important;
}

.btn[type=submit]{
    border-radius: 50px;
}

h1{
    color: #fff;
}

@media (max-width: 1014px){
    .back-container{
        flex-direction: column;
        height:900px;
    }
    .background-right{
        margin-top: 20px;
    }

    .card{
        width: 440px;
        margin: 10px auto;
    }
}

@media (max-width: 816px){
    .features{
        flex-direction: column;
        height: 600px;
    }
    .subfeature{
        width: 100%;
    }
}