<script>
    var i = 0;
    var txt = 'Easy access to movies and meta information about them!';
    var speed = 50;
    
    function typeWriter() {
      if (i < txt.length) {
        document.getElementById("typewriter").innerHTML += txt.charAt(i);
        i++;
        setTimeout(typeWriter, speed);
      }
    }
    </script>


<div class="row bn mt-5">
    <div class="col-sm-6">
        <div class="card text-blank border-0 cardstyle">
            <div class="card-body">
                <div class="card-title">
                    <h4>Signup Form</h4>
                </div>
                <div class="card-text">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                              <input type="text" class="form-control" placeholder="First Name">
                            </div>
                            <div class="form-group col-sm-6">
                              <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                          </div>
                          <div class="form-group">
                              <input type="email" class="form-control" placeholder="Enter your email">
                                <small>We will never share your email with anyone!</small>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Enter password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Confirm password">
                            </div>
                            <button type="button" class="btn btn-info btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="container jk" style="color: white">
            <div>
                <p class="display-5" id="typewriter"></p>
              </div>
        </div>
        <!-- <button type="button" class="btn btn-primary" onclick="typeWriter()">click me</button> -->
    </div>
</div>