.bb{
    margin: 0;
}

.kl{
    margin: 0;
    padding: 0;
}

.jk{
    margin: 5px;
    width: 100%;
    height: 100%;
    background-color: #15141d;
}

.jk .card-body{
    color: white!important;
}

.bb select{
    background-color: #15141d;
    color: white!important;
}
