<div class="row mt-5 st">
    
        <div class="col-sm-6 form-group">
            <input type="text" placeholder="Search" class="form-control kl">
        </div>
        <div class="col-sm-6">
            <div class="row">
                <img src="https://sc-events.s3.amazonaws.com/3990085/main.jpg" width="100%" height="156" alt="avatar">
            </div>
            
            <div class="row">
                <div class="card text-blank border-0" style="width:100%;height: 200px">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>This is card</h3>
                        </div>
                        <div class="card-text">
                            Yo
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</div>
