/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
    width: 100%;
}
body{
    /* background: url("http://www.jakpost.travel/imgfiles/full/21/211003/log-wallpaper.jpg");
    background-size:    cover;                      
    background-repeat:   repeat-y; */
    opacity: 0.9;   
    
    }


    
 body{
    background-color: #232b28;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}